*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --videoWidth: 700px;
    --controlsHeight: 50px;
    --progressHeight: 3px;
    --transition: bottom 200ms ease-in 150ms;
}

.App {
    margin: 10px 10vw;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.aspectRatioVideo {
    aspect-ratio: 16/9;
}

.positionRelative {
    position: relative;
}

.positionAbsolute {
    position: absolute;
}
.displayFlex {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.videoContainer {
    width: var(--videoWidth);
    background-color: lightslategrey;
    overflow: hidden;
}

.mainVideo {
    width: var(--videoWidth);
    top: 0;
    pointer-events: none;
}

.subVideo {
    height: calc(var(--videoWidth) / 5);
    bottom: 1em;
    right: 1em;
    cursor: pointer;
    z-index: 1;
    border: 1px solid #bebebe;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.subVideo:hover {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.controlBar {
    bottom: calc((var(--controlsHeight) + var(--progressHeight)) * -1);
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.controlBar .progressBar {
    height: var(--progressHeight);
    cursor: pointer;
    background-color: transparent;
    border-bottom: calc(var(--progressHeight) * 2) solid transparent;
    bottom: calc(var(--progressHeight) * -1);
    z-index: 1;
}

.controlBar .progressBar::before {
    content: "";
    background-color: #00acff;
    opacity: 0.25;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--progressHeight);
    /* z-index: -1; */
}

.controlBar .progressBar .currentStatus {
    height: var(--progressHeight);
    background-color: #00acff;
    width: 100%;
    left: 0;
    transform-origin: 0 0;
    z-index: -1;
}

.controlBar .progressBar .bufferStatus {
    opacity: 0.5;
    height: var(--progressHeight);
    background-color: #00acff;
    width: 100%;
    left: 0;
    transform-origin: 0 0;
    z-index: -1;
}
.controlBar .progressBar .mouseOverProgress {
    opacity: 0.5;
    height: var(--progressHeight);
    background-color: #fff;
    width: 100%;
    left: 0;
    transform-origin: 0 0;
    z-index: -1;
}
.controlBar .progressBar .progressBarHoverText {
    top: calc(var(--progressHeight) * -4);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: var(--controlsHeight);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
}
.controlBar .controls {
    width: var(--videoWidth);
    height: var(--controlsHeight);
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.controlBar .controls .controlIcon,
.controlBar .controls .controlIcon img {
    height: var(--controlsHeight);
    cursor: pointer;
}

.controlBar .controls .controlTime {
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    height: var(--controlsHeight);
}

.controlBar .controls .controlTime .currentTime {
    padding: 0 0.5rem;
}

.controlBar .controls .controlTime .duration {
    padding: 0 0.5rem;
    border-left: 1px solid #fff;
}

.videoContainer:-webkit-full-screen,
.videoContainer:fullscreen,
.videoContainer:-ms-fullscreen,
.videoContainer:-moz-full-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    --videoWidth: 100%;
}
.videoContainer.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    --videoWidth: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.videoContainer:-webkit-full-screen .mainVideo,
.videoContainer:fullscreen .mainVideo,
.videoContainer:-ms-fullscreen .mainVideo,
.videoContainer:-moz-full-screen {
    height: 100%;
}
.videoContainer.fullscreen .mainVideo {
    height: 100%;
}
.videoContainer:hover .subVideo {
    bottom: calc(var(--controlsHeight) + var(--progressHeight) + 1em);
}

.videoContainer:hover .controlBar {
    bottom: 0;
}

.controlBar .progressBar:hover {
    --progressHeight: 8px;
}

.controlBar .controls .controlIcon:hover {
    background-color: #fff4;
}
